samples/RpcContractWcf/Connected Services/HelloService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://RpcProvider" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://RpcProvider" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://RpcProvider/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:30000/Hello/?xsd=xsd0" namespace="http://RpcProvider" />
      <xsd:import schemaLocation="http://127.0.0.1:30000/Hello/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:30000/Hello/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RpcProvider" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloServiceWcf_CallNameVoid_InputMessage">
    <wsdl:part name="parameters" element="tns:CallNameVoid" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_CallNameVoid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallNameVoidResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_CallName_InputMessage">
    <wsdl:part name="parameters" element="tns:CallName" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_CallName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallNameResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_CallVoid_InputMessage">
    <wsdl:part name="parameters" element="tns:CallVoid" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_CallVoid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallVoidResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_ShowHello_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowHello" />
  </wsdl:message>
  <wsdl:message name="IHelloServiceWcf_ShowHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowHelloResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloServiceWcf">
    <wsdl:operation name="CallNameVoid">
      <wsdl:input wsaw:Action="http://RpcProvider/IHelloServiceWcf/CallNameVoid" message="tns:IHelloServiceWcf_CallNameVoid_InputMessage" />
      <wsdl:output wsaw:Action="http://RpcProvider/IHelloServiceWcf/CallNameVoidResponse" message="tns:IHelloServiceWcf_CallNameVoid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallName">
      <wsdl:input wsaw:Action="http://RpcProvider/IHelloServiceWcf/CallName" message="tns:IHelloServiceWcf_CallName_InputMessage" />
      <wsdl:output wsaw:Action="http://RpcProvider/IHelloServiceWcf/CallNameResponse" message="tns:IHelloServiceWcf_CallName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallVoid">
      <wsdl:input wsaw:Action="http://RpcProvider/IHelloServiceWcf/CallVoid" message="tns:IHelloServiceWcf_CallVoid_InputMessage" />
      <wsdl:output wsaw:Action="http://RpcProvider/IHelloServiceWcf/CallVoidResponse" message="tns:IHelloServiceWcf_CallVoid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://RpcProvider/IHelloServiceWcf/Hello" message="tns:IHelloServiceWcf_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://RpcProvider/IHelloServiceWcf/HelloResponse" message="tns:IHelloServiceWcf_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://RpcProvider/IHelloServiceWcf/SayHello" message="tns:IHelloServiceWcf_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://RpcProvider/IHelloServiceWcf/SayHelloResponse" message="tns:IHelloServiceWcf_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowHello">
      <wsdl:input wsaw:Action="http://RpcProvider/IHelloServiceWcf/ShowHello" message="tns:IHelloServiceWcf_ShowHello_InputMessage" />
      <wsdl:output wsaw:Action="http://RpcProvider/IHelloServiceWcf/ShowHelloResponse" message="tns:IHelloServiceWcf_ShowHello_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>