samples/RpcContractWcf/Connected Services/HelloService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RpcProvider" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RpcProvider" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HelloResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Head" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelloResult" nillable="true" type="tns:HelloResult" />
</xs:schema>